<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Degalaioutput</title>
</head>

<body>

    <table style="font-size:20px">
        <tr>
            <th>Benzino kiekis (litrais): </th>
            <th th:text="${forma.benzinasKiekis}">0</th>
            <th>&emsp;Sumokėta: </th>
            <th th:text="${forma.benzinasMoketa}">0</th>
            <th>&emsp;Litro kaina: </th>
            <th th:text="${forma.benzinoKaina}">0</th>
        </tr>
        <tr>
            <th>Dyzelino kiekis (litrais): </th>
            <th th:text="${forma.dyzelinasKiekis}">0</th>
            <th>&emsp;Sumokėta: </th>
            <th th:text="${forma.dyzelinasMoketa}">0</th>
            <th>&emsp;Litro kaina: </th>
            <th th:text="${forma.dyzelinoKaina}">0</th>
        </tr>
        <tr>
            <th>Dujų kiekis (litrais): </th>
            <th th:text="${forma.dujosKiekis}">0</th>
            <th>&emsp;Sumokėta: </th>
            <th th:text="${forma.dujosMoketa}">0</th>
            <th>&emsp;Litro kaina: </th>
            <th th:text="${forma.dujuKaina}">0</th>
        </tr>

    </table>


</body>
</html>